.header {
  padding-left: 1%;
  padding-top: 0.01%;
  padding-bottom: 0.01%;
  text-align: left;
  background: #4c385e;
  color: white;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.home-user{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.login-out{
  height: 2%;
  margin-left: 10px;
  margin-right: 10px;
}
/*
.banner-img{
  background-image: url("{% static 'img/love.jpg %}");
}
*/

.comment{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}