{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>photofolio</title>
    <link href="{% static '/css/style.css'%}" rel="stylesheet">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
</head>
<body>
    <div class="header">
        <h3>Photofolio</h3>
        <div class="home-user">
            {% if user.is_authenticated %}
            안녕하세요, {{ user.username }}님!
            <button class="login-out"><a href="{% url 'logout' %}">로그아웃</a></button>
            {% else %}
            <button class="login-out"><a href="{% url 'login' %}">로그인</a></button>
            <button class="login-out"><a href="{% url 'signup' %}">회원가입</a></button>
            {% endif %}
        </div>
    </div>
    <div class="banner-img">
        <img src="{% static '/img/love.jpg' %}" width="100%">
    </div>
    {% block content %}

    {% endblock %}
    
</body>
</html>