{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{% static '/css/style.css'%}" rel="stylesheet">
</head>
<body>
    <h1>제목</h1>
    {{ post_detail.title }}
    <h2>날짜</h2>
    {{ post_detail.date}}
    <h3>본문</h3>
    {{ post_detail.body}}

    <h3>본문에 추가된 첨부파일</h3>
    {% if post_detail.photo %}
        <!-- 사진 찍어주기-->
        {{ post_detail.photo.url }}
        <img src = "{{ post_detail.photo.url }}" alt="" height="600">
    {% endif %}

    <h3>댓글</h3>
    <!-- 제출버튼을 누르면 url create_comment로 이동, blog_detail.id key값도 함께 제공-->
    <form method="POST" action="{% url 'create_comment' post_detail.id %}">
    <!--<form action="{% url 'create_comment' post_detail.id %}" method="POST" enctype="multipart/form-data">-->
        {% csrf_token %}
        {{ comment_form }}
        <!--<input type="text" placeholder="댓글을 적어주세요" name="comment" max_length="50">
        <button type="submit">입력</button> -->
        <input type="submit" value="입력">
    </form>

    {% for comment in post_detail.comment_set.all %}
    <!--<p>{{ comment.date }}</p>-->
    <div class="comment">
        <div>{{ comment.comment }}</div>
        <div>{{ comment.date }}</div>
    </div>
    <hr>
    {% endfor %}

</body>
</html>