@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);



*{
    font-family: 'nanumgothic';
}

body, h1, h2{
    margin: 0px;
    padding: 0px;
}

.menu-bar-top{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-items:flex-end;
    background-color: #003975;
}

.language{
    margin: 10px;
    padding: 2.4px; 
    background-color: #001a38;
    color:aliceblue;
    margin-right: auto;
}

.sign-in{
    margin: 10px;
    padding: 2.4px;
    background-color: #3076d6;
    color:aliceblue;
    margin-right: auto;
}

.log-in{
    margin: 10px;
    padding: 2.4px;
    background-color: #3076d6;
    color:aliceblue;
    margin-right: auto;
}

.menu-bar-main{
    overflow: hidden;
    background-color: #001a38;
}

.menu-bar-item{
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #001a38;
}

.menu-title{
    margin-top: 25px;
    padding-left: 50px;
    font-size:x-large;
    font-weight: 900;
    margin-left: auto;
    margin-right: auto;
    float: left;
    color: aliceblue;
}

.menu-item{
    padding: 10px;
    font-size: large;
    margin-left: auto;
    margin-right: auto;
    color: aliceblue;
}

.banner-img{
    width: 100%;
    height: 100%;
    padding-left: auto;
    padding-right: auto;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 5px solid #001a38;
}

h2{
    /*padding-right: auto;
    padding-left: auto;
    margin-left: auto;
    margin-right: auto;*/
    color: black;
}

h6{
    color: #909194;
}

.main-items{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    padding-top: 2%;
    padding-left: auto;
    padding-right: auto;
}

.notification{
    display: flex;
    flex-flow: column wrap;
    /*justify-content: flex-start;*/
    /*align-content: flex-start;*/
    flex-grow: 1;
    max-width: 50%;
    margin-right: 2%;
}

.notification-title{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
}

.notification-title-content{
    display: flex;
    flex-flow: row wrap;
}
.notification-date{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border: #909194 solid 1px;
    margin-right: 15px;
}

.notification-year{
    color: #909194;
    font-weight: bold;
    font-size: small;
    margin-top: 0%;
    margin-bottom: 0%;
}

.notification-month{
    color: #3076d6;
    font-weight: bold;
    font-size: x-large;
    margin-top: 0%;
    margin-bottom: 0%;
}

.notification-title-more{
    font-size: small;
}

.promotion{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: flex-start;
    flex-grow: 1;
    max-width: 50%;
}

.promotion-text{
    margin-bottom: 2%;
}

.notification-list{
    display: flex;
    align-self: auto;
    flex-direction: column;
    align-content: space-around;
    justify-content: flex-start;
}

.notification-list-content{
    margin: 2%
}

.main-search{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly; 
    align-content: center; 
    width: 700px;
    height: 70px;
    margin: 10px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;  
    background-color: #f2cb49;
    box-shadow: 0 1px 20px 0 rgba(0,0,0, 0.3);
    border-radius: 10px;
}

.lecture-list{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly; 
    align-content: center; 
    margin-top: 50px;
    margin-bottom: 100px;
}

.lecture-box{
    width: 200px;
    height: 300px;
    border: #909194 solid 1px;
    box-shadow: 0 1px 20px 0 rgba(0,0,0, 0.1);
}

footer{
    background-color: #001a38;
    overflow: hidden;
}

.footer-title{
    padding-left: 20px;
    float: left;
    color: aliceblue;
    
}

.footer-private{
    float: right;
    padding-right: 20px;
    color: aliceblue;
}